.u-section-1 .u-sheet-1 {min-height: 418px}
.u-section-1 .u-text-1 {letter-spacing: 8px; font-weight: 700; font-size: 3rem; margin: 43px auto 0}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; background-image: none; margin: -47px 304px 0 auto}
.u-section-1 .u-image-1 {width: 300px; height: 300px; background-image: url("images/76cf44489baf7a04470fd5e9f096aa3b1.jpeg"); background-position: 50% 50%; margin: -29px auto 0 62px}
.u-section-1 .u-text-2 {margin: -233px 0 43px 489px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 506px}
.u-section-1 .u-text-1 {width: 134px}
.u-section-1 .u-btn-1 {margin-right: 104px}
.u-section-1 .u-text-2 {width: auto; margin-right: 53px; margin-left: 394px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 361px}
.u-section-1 .u-text-1 {width: auto; margin-top: 27px}
.u-section-1 .u-btn-1 {margin-right: 47px}
.u-section-1 .u-image-1 {width: 186px; height: 186px; margin-top: 58px}
.u-section-1 .u-text-2 {margin: -219px 9px 10px 279px} }

@media (max-width: 767px){ .u-section-1 .u-btn-1 {margin-right: 0}
.u-section-1 .u-text-2 {margin-right: 21px; margin-left: 47px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 6rem}
.u-section-1 .u-image-1 {margin-left: 54px}
.u-section-1 .u-text-2 {margin-right: 13px; margin-left: 0} }.u-section-2 .u-sheet-1 {min-height: 928px}
.u-section-2 .u-tabs-1 {min-height: 868px; margin: 60px auto 0 0}
.u-section-2 .u-tab-link-1 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-2 .u-tab-link-2 {font-size: 1.25rem; background-image: none; font-weight: 600; padding: 10px 25px}
.u-section-2 .u-tab-pane-1 {background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-btn-1 {border-style: none; font-weight: 700; font-size: 0.875rem; letter-spacing: 1px; background-image: none; text-transform: none; margin: 0 955px 0 0}
.u-section-2 .u-gallery-1 {height: 631px; grid-gap: 17px 17px; width: 1140px; margin: 9px auto 0 -12px}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto); grid-gap: 17px}
.u-section-2 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-tab-pane-2 {background-image: none}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {margin: 20px 76px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-tabs-1 {height: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-btn-1 {margin-right: 755px}
.u-section-2 .u-gallery-1 {height: 487px; width: 880px; margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-btn-1 {margin-right: 535px}
.u-section-2 .u-gallery-1 {height: 632px; width: 660px}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-btn-1 {margin-right: 395px}
.u-section-2 .u-gallery-1 {height: 1992px; width: 520px}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-btn-1 {margin-right: 195px}
.u-section-2 .u-gallery-1 {height: 1226px; width: 320px} }