.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 683px}
.u-section-1 .u-layout-wrap-1 {margin: 107px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 576px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-weight: 700; line-height: 1.4; font-size: 3rem; margin: 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-text-2 {font-size: 1.125rem; letter-spacing: 0; margin: 190px 13px 0}
.u-section-1 .u-image-1 {min-height: 576px; background-image: url("images/muffin.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px 0 0 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 889px}
.u-section-1 .u-layout-wrap-1 {margin-top: 104px; margin-bottom: 44px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-2 {width: 339px}
.u-section-1 .u-image-1 {min-height: 475px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 288px}
.u-section-1 .u-layout-cell-1 {min-height: 495px}
.u-section-1 .u-text-1 {font-size: 1.5rem}
.u-section-1 .u-text-2 {width: 300px; margin-top: 108px; margin-left: 0; margin-right: 0}
.u-section-1 .u-image-1 {min-height: 364px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 556px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-text-2 {margin-top: 135px; margin-left: 13px; margin-right: 13px}
.u-section-1 .u-image-1 {min-height: 546px}
.u-section-1 .u-container-layout-2 {padding-left: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 369px}
.u-section-1 .u-image-1 {min-height: 344px} }.u-section-2 .u-sheet-1 {min-height: 519px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0; font-weight: 700; font-size: 2.25rem}
.u-section-2 .u-text-2 {font-size: 1.5rem; margin: 20px auto 60px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 453px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 692px}
.u-section-2 .u-text-1 {margin-top: 120px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 976px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 870px}
.u-section-2 .u-text-1 {font-size: 1.5rem} }.u-section-3 .u-sheet-1 {min-height: 370px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 0; font-weight: 700; font-size: 2.25rem}
.u-section-3 .u-text-2 {font-size: 1.5rem; margin: 20px 0 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 343px}
.u-section-3 .u-text-1 {margin-top: 1px}
.u-section-3 .u-text-2 {margin-bottom: 55px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 592px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 976px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 870px}
.u-section-3 .u-text-1 {font-size: 1.5rem} }.u-block-2bc8-2 {position: absolute; bottom: 10px}
.u-block-2bc8-3 {position: absolute; left: calc(((100% - 1140px) / 2)  + -40px); width: 40px; height: 40px; top: 115px; right: auto}
.u-block-2bc8-4 {position: absolute; width: 40px; height: 40px; left: auto; top: 115px; right: calc(((100% - 1140px) / 2)  + -40px)} 

@media (max-width: 1199px){ .u-block-2bc8-3 {left: calc(((100% - 940px) / 2)  + -33px)}
.u-block-2bc8-4 {right: calc(((100% - 940px) / 2)  + -33px)} }

@media (max-width: 991px){ .u-block-2bc8-3 {left: calc(((100% - 720px) / 2)  + -25px)}
.u-block-2bc8-4 {right: calc(((100% - 720px) / 2)  + -25px)} }

@media (max-width: 767px){ .u-block-2bc8-3 {left: calc(((100% - 540px) / 2)  + -19px)}
.u-block-2bc8-4 {right: calc(((100% - 540px) / 2)  + -19px)} }

@media (max-width: 575px){ .u-block-2bc8-3 {left: calc(((100% - 340px) / 2)  + -12px)}
.u-block-2bc8-4 {right: calc(((100% - 340px) / 2)  + -12px)} }.u-section-4-1 .u-sheet-1 {min-height: 345px}
.u-section-4-1 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 20px auto 0 10px}
.u-section-4-1 .u-layout-wrap-1 {width: 968px; margin: 10px auto 0 86px}
.u-section-4-1 .u-layout-cell-1 {min-height: 236px}
.u-section-4-1 .u-container-layout-1 {padding: 30px}
.u-section-4-1 .u-image-1 {width: 150px; height: 150px; object-position: 50% 22%; margin: 0 auto}
.u-section-4-1 .u-layout-cell-2 {min-height: 236px}
.u-section-4-1 .u-container-layout-2 {padding: 30px}
.u-section-4-1 .u-text-2 {line-height: 1.8; font-style: normal; margin: 0}
.u-section-4-1 .u-text-3 {font-weight: 700; font-size: 1.5rem; margin: 34px 0 0} 

@media (max-width: 1199px){ .u-section-4-1 .u-sheet-1 {min-height: 472px}
.u-section-4-1 .u-layout-wrap-1 {width: 775px; margin-left: 0}
.u-section-4-1 .u-layout-cell-1 {min-height: 229px}
.u-section-4-1 .u-layout-cell-2 {min-height: 229px} }

@media (max-width: 991px){ .u-section-4-1 .u-sheet-1 {min-height: 463px}
.u-section-4-1 .u-text-1 {margin-top: 253px}
.u-section-4-1 .u-layout-wrap-1 {width: 720px; margin-top: -50px}
.u-section-4-1 .u-layout-cell-1 {min-height: 100px}
.u-section-4-1 .u-image-1 {width: 132px; height: 132px}
.u-section-4-1 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4-1 .u-sheet-1 {min-height: 387px}
.u-section-4-1 .u-text-1 {margin-top: 261px}
.u-section-4-1 .u-layout-wrap-1 {width: 540px; margin-top: -206px; margin-bottom: 60px}
.u-section-4-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4-1 .u-text-1 {margin-top: 300px; font-size: 1.5rem}
.u-section-4-1 .u-layout-wrap-1 {width: 340px; margin-top: -271px} }.u-section-4-2 .u-sheet-1 {min-height: 345px}
.u-section-4-2 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 20px auto 0 10px}
.u-section-4-2 .u-layout-wrap-1 {width: 968px; margin: 10px auto 0 86px}
.u-section-4-2 .u-layout-cell-1 {min-height: 236px}
.u-section-4-2 .u-container-layout-1 {padding: 30px}
.u-section-4-2 .u-image-1 {width: 150px; height: 150px; object-position: 50% 22%; margin: 0 auto}
.u-section-4-2 .u-layout-cell-2 {min-height: 236px}
.u-section-4-2 .u-container-layout-2 {padding: 30px}
.u-section-4-2 .u-text-2 {line-height: 1.8; font-style: normal; margin: 0}
.u-section-4-2 .u-text-3 {font-weight: 700; font-size: 1.5rem; margin: 34px 0 0} 

@media (max-width: 1199px){ .u-section-4-2 .u-sheet-1 {min-height: 472px}
.u-section-4-2 .u-text-1 {width: 0}
.u-section-4-2 .u-layout-wrap-1 {width: 940px; margin-left: 0}
.u-section-4-2 .u-layout-cell-1 {min-height: 229px}
.u-section-4-2 .u-layout-cell-2 {min-height: 229px} }

@media (max-width: 991px){ .u-section-4-2 .u-sheet-1 {min-height: 631px}
.u-section-4-2 .u-text-1 {width: auto; margin-top: 10px; margin-left: 0}
.u-section-4-2 .u-layout-wrap-1 {width: 720px; margin-top: 13px; margin-bottom: 60px; margin-left: 10px}
.u-section-4-2 .u-layout-cell-1 {min-height: 100px}
.u-section-4-2 .u-image-1 {width: 132px; height: 132px}
.u-section-4-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4-2 .u-sheet-1 {min-height: 387px}
.u-section-4-2 .u-layout-wrap-1 {width: 540px; margin-left: 0}
.u-section-4-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4-2 .u-text-1 {font-size: 1.5rem}
.u-section-4-2 .u-layout-wrap-1 {width: 340px} }.u-section-5 {min-height: 660px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 660px}
.u-section-5 .u-container-layout-1 {padding: 30px 60px}
.u-section-5 .u-text-1 {font-weight: 700}
.u-section-5 .u-form-1 {height: 328px; width: 515px; margin: 0 auto}
.u-section-5 .u-btn-1 {background-image: none} 

@media (max-width: 1199px){ .u-section-5 {min-height: 544px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-form-1 {margin-right: -10px; margin-left: 0; width: 425px} }

@media (max-width: 991px){ .u-section-5 {min-height: 417px}
.u-section-5 .u-layout-cell-1 {min-height: 614px}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-text-1 {margin: 20px auto 0}
.u-section-5 .u-form-1 {height: 246px; margin-top: 20px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-btn-1 {border-style: none} }

@media (max-width: 767px){ .u-section-5 {min-height: 100px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-form-group-1 {width: 100%}
.u-section-5 .u-form-group-2 {width: 100%}
.u-section-5 .u-form-group-3 {width: 100%} }