.u-section-1 {background: rgba(0, 128, 0, 0.2);}
.u-section-1 .u-sheet-1 {min-height: 450px}
.u-section-1 .u-layout-wrap-1 {margin: 107px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 400px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-weight: 700; line-height: 1.4; font-size: 3rem; margin: 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin: 50px 50px 0}

.u-section-2 {background: rgba(229, 193, 205, 0.4);}
.u-section-2 .u-sheet-2 {min-height: 500px}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-1 {min-height: 576px; background-image: url("images/pancake.jpg"); background-position: 50% 50%; border-radius: 20%}
.u-section-2 .u-container-layout-2 {padding: 30px 0 0 30px} 

@media{ 
.u-section-2 .u-image-1 {height: auto; width: 50%; margin-left: auto; margin-right: auto;} 
}

.u-section-3 {background: rgba(0, 128, 0, 0.2);}
.u-section-3 .u-sheet-3 {min-height: 500px}
.u-section-3 .u-layout-wrap-1 {margin: 107px auto 0 0}
.u-section-3 .u-layout-cell-1 {margin-top: 80px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-container-layout-2 {padding: 10px}
.u-section-3 .u-text-1 {font-weight: 250; line-height: 1.1; font-size: 2.5rem; margin: 5}
.u-section-3 .u-text-2 {font-weight: 250; line-height: 1.1; font-size: 3rem;}

.u-section-4 {background: rgba(229, 193, 205, 0.4);}
.u-section-4 .u-sheet-4 {min-height: 453px}
.u-section-4 .u-layout-wrap-1 {margin: 107px auto 0 0}
.u-section-4 .u-layout-cell-1 {margin-top: 80px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-container-layout-2 {padding: 10px}
.u-section-4 .u-text-1 {font-weight: 250; line-height: 1.1; font-size: 2.5rem; margin: 5}
.u-section-4 .u-text-2 {font-weight: 250; line-height: 1.1; font-size: 3rem;}

@media (max-width: 575px){ 
.u-section-4 .u-text-1 {margin-top: 120px; margin-left: 0; margin-right: 0; margin-bottom: 0; font-weight: 700; font-size: 2.25rem}
.u-section-4 .u-text-2 {font-size: 1.5rem; margin: 20px auto 60px 0} }

.u-section-5 {background: rgba(0, 128, 0, 0.2);}
.u-section-5 .u-sheet-4 {min-height: 300px}
.u-section-5 .u-layout-wrap-1 {margin: 107px auto 0 0}
.u-section-5 .u-layout-cell-1 {margin-top: 80px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-container-layout-2 {padding: 10px}
.u-section-5 .u-text-1 {font-weight: 250; line-height: 1.1; font-size: 2.5rem; margin: 5}
.u-section-5 .u-text-2 {font-weight: 250; line-height: 1.1; font-size: 3rem;}

.u-section-6 {background: rgba(229, 193, 205, 0.4);}
.u-section-6 .u-sheet-1 {min-height: 650px}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 29px auto 0 -7px}
.u-section-6 .u-slider-1 {min-height: 453px; margin: 23px 0 60px}
.u-section-6 .u-carousel-indicators-1 {position: absolute; bottom: 10px}
.u-section-6 .u-container-layout-1 {padding: 30px 55px}
.u-section-6 .u-gallery-1 {height: 354px; width: 904px; grid-gap: 10px; margin: 0 auto}
.u-section-6 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto); grid-gap: 10px}
.u-section-6 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 4px}
.u-section-6 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 4px}
.u-section-6 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 4px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-gallery-2 {height: 354px; width: 904px; grid-gap: 10px 10px; margin: 0 auto}
.u-section-6 .u-gallery-inner-2 {grid-template-columns: repeat(3, auto); grid-gap: 10px}
.u-section-6 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); margin-left: 0; margin-right: 609px; padding: 21px}
.u-section-6 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); margin-left: 0; margin-right: 305px; padding: 21px}
.u-section-6 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); margin-left: 0; margin-right: 0; padding: 21px}
.u-section-6 .u-carousel-control-1 {background-image: none; width: 55px; height: 55px}
.u-section-6 .u-carousel-control-2 {background-image: none; width: 55px; height: 55px} 

@media (max-width: 1199px){ 
.u-section-6 .u-sheet-1 {min-height: 826px}
.u-section-6 .u-text-1 {font-size: 3rem; margin-top: 96px}
.u-section-6 .u-slider-1 {margin-top: 29px; height: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-6 .u-gallery-1 {height: 393px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-container-layout-2 {padding-left: 60px; padding-right: 60px}
.u-section-6 .u-gallery-2 {height: 393px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 991px){ 
.u-section-6 .u-slider-1 {min-height: 740px; margin: 0 7px 0 -7px}
.u-section-6 .u-gallery-1 {height: 680px; grid-template-columns: repeat(2, auto); width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)}
.u-section-6 .u-container-layout-2 {padding-right: 65px}
.u-section-6 .u-gallery-2 {height: 680px; grid-template-columns: repeat(2, auto); width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-2 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ 
.u-section-6 .u-text-1 {margin-top: 20px; margin-left: 51px}
.u-section-6 .u-slider-1 {margin-top: 20px; margin-right: 0; margin-left: 0}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-gallery-1 {height: 1607px; grid-template-columns: repeat(1, auto); width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-gallery-2 {height: 1607px; grid-template-columns: repeat(1, auto); width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-inner-2 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ 
.u-section-6 .u-sheet-1 {min-height: 140px}
.u-section-6 .u-text-1 {font-size: 1.5rem; margin-left: 60px}
.u-section-6 .u-slider-1 {min-height: 54px}
.u-section-6 .u-gallery-1 {height: 989px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-gallery-2 {height: 989px; width: auto; margin-right: initial; margin-left: initial} }

.u-block-2bc8-2 {position: absolute; bottom: 10px}
.u-block-2bc8-3 {position: absolute; left: calc(((100% - 1140px) / 2)  + -40px); width: 40px; height: 40px; top: 115px; right: auto}
.u-block-2bc8-4 {position: absolute; width: 40px; height: 40px; left: auto; top: 115px; right: calc(((100% - 1140px) / 2)  + -40px)} 

@media (max-width: 1199px){
 .u-block-2bc8-3 {left: calc(((100% - 940px) / 2)  + -33px)}
.u-block-2bc8-4 {right: calc(((100% - 940px) / 2)  + -33px)} }

@media (max-width: 991px){ 
.u-block-2bc8-3 {left: calc(((100% - 720px) / 2)  + -25px)}
.u-block-2bc8-4 {right: calc(((100% - 720px) / 2)  + -25px)} }

@media (max-width: 767px){ .u-block-2bc8-3 {left: calc(((100% - 540px) / 2)  + -19px)}
.u-block-2bc8-4 {right: calc(((100% - 540px) / 2)  + -19px)} }

@media (max-width: 575px){ 
.u-block-2bc8-3 {left: calc(((100% - 340px) / 2)  + -12px)}
.u-block-2bc8-4 {right: calc(((100% - 340px) / 2)  + -12px)} }



.u-section-7-1 {background: rgba(0, 128, 0, 0.2);}
.u-section-7-1 .u-sheet-1 {min-height: 345px}
.u-section-7-1 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 20px auto 0 10px}
.u-section-7-1 .u-layout-wrap-1 {width: 968px; margin: 10px auto 0 86px}
.u-section-7-1 .u-layout-cell-1 {min-height: 236px}
.u-section-7-1 .u-container-layout-1 {padding: 30px}
.u-section-7-1 .u-image-1 {width: 150px; height: 150px; object-position: 50% 22%; margin: 0 auto}
.u-section-7-1 .u-layout-cell-2 {min-height: 236px}
.u-section-7-1 .u-container-layout-2 {padding: 30px}
.u-section-7-1 .u-text-2 {line-height: 1.8; font-style: normal; margin: 0}
.u-section-7-1 .u-text-3 {font-weight: 700; font-size: 1.5rem; margin: 34px 0 0}
.u-section-7-1 .u-btn-1 {padding: 0} 

@media (max-width: 1199px){ 
.u-section-7-1 .u-sheet-1 {min-height: 472px}
.u-section-7-1 .u-layout-wrap-1 {width: 775px; margin-left: 0}
.u-section-7-1 .u-layout-cell-1 {min-height: 229px}
.u-section-7-1 .u-layout-cell-2 {min-height: 229px} }

@media (max-width: 991px){ 
.u-section-7-1 .u-sheet-1 {min-height: 463px}
.u-section-7-1 .u-text-1 {margin-top: 253px}
.u-section-7-1 .u-layout-wrap-1 {width: 720px; margin-top: -50px}
.u-section-7-1 .u-layout-cell-1 {min-height: 175px}
.u-section-7-1 .u-image-1 {width: 132px; height: 132px}
.u-section-7-1 .u-layout-cell-2 {min-height: 175px} }

@media (max-width: 767px){ 
.u-section-7-1 .u-sheet-1 {min-height: 387px}
.u-section-7-1 .u-text-1 {margin-top: 261px}
.u-section-7-1 .u-layout-wrap-1 {width: 540px; margin-top: -206px; margin-bottom: 60px}
.u-section-7-1 .u-layout-cell-1 {min-height: 100px}
.u-section-7-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7-1 .u-layout-cell-2 {min-height: 100px}
.u-section-7-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ 
.u-section-7-1 .u-text-1 {margin-top: 300px; font-size: 1.5rem}
.u-section-7-1 .u-layout-wrap-1 {width: 340px; margin-top: -271px} }

.u-section-7-2 {background: rgba(0, 128, 0, 0.2);}
.u-section-7-2 .u-sheet-1 {min-height: 345px}
.u-section-7-2 .u-text-1 {font-weight: 700; font-size: 2.25rem; margin: 20px auto 0 10px}
.u-section-7-2 .u-layout-wrap-1 {width: 968px; margin: 10px auto 0 86px}
.u-section-7-2 .u-layout-cell-1 {min-height: 236px}
.u-section-7-2 .u-container-layout-1 {padding: 30px}
.u-section-7-2 .u-image-1 {width: 150px; height: 150px; object-position: 50% 22%; margin: 0 auto}
.u-section-7-2 .u-layout-cell-2 {min-height: 236px}
.u-section-7-2 .u-container-layout-2 {padding: 30px}
.u-section-7-2 .u-text-2 {line-height: 1.8; font-style: normal; margin: 0}
.u-section-7-2 .u-text-3 {font-weight: 700; font-size: 1.5rem; margin: 34px 0 0}
.u-section-7-2 .u-btn-1 {padding: 0} 

@media (max-width: 1199px){ 
.u-section-7-2 .u-sheet-1 {min-height: 472px}
.u-section-7-2 .u-text-1 {width: 0}
.u-section-7-2 .u-layout-wrap-1 {width: 940px; margin-left: 0}
.u-section-7-2 .u-layout-cell-1 {min-height: 229px}
.u-section-7-2 .u-layout-cell-2 {min-height: 229px} }

@media (max-width: 991px){ 
.u-section-7-2 .u-sheet-1 {min-height: 631px}
.u-section-7-2 .u-text-1 {width: auto; margin-top: 10px; margin-left: 0}
.u-section-7-2 .u-layout-wrap-1 {width: 720px; margin-top: 13px; margin-bottom: 60px; margin-left: 10px}
.u-section-7-2 .u-layout-cell-1 {min-height: 175px}
.u-section-7-2 .u-image-1 {width: 132px; height: 132px}
.u-section-7-2 .u-layout-cell-2 {min-height: 175px} }

@media (max-width: 767px){ 
.u-section-7-2 .u-sheet-1 {min-height: 387px}
.u-section-7-2 .u-layout-wrap-1 {width: 540px; margin-left: 0}
.u-section-7-2 .u-layout-cell-1 {min-height: 100px}
.u-section-7-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7-2 .u-layout-cell-2 {min-height: 100px}
.u-section-7-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ 
.u-section-7-2 .u-text-1 {font-size: 1.5rem}
.u-section-7-2 .u-layout-wrap-1 {width: 340px} }